mat-card {
  margin: 10px;

  .legend {
    position: relative;
    background: lightgoldenrodyellow;
    max-width: 150px;
  }

  .coding-button {
    margin-top: 10px;
  }
}

.tree-view {
  padding: 3px;
}
